<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Fill the forms</title>
</head>
<body>
<form action="#" th:action="@{/savePerson}" method="post">
    <label for="name">Ф.И.Ш</label>
    <input type="text" name="fullName" id="name" maxlength="250"><br>

    <label for="date">Тўғилган сана</label>
    <input type="date" name="dateOfBirth" id="date"><br>

    <label for="nation">Миллати</label>
    <input type="text" name="nationality" id="nation" maxlength="100"><br>

    <!--here educated universities-->
    <div style="background-color: cornsilk" id="items">
        <label for="university">Университет</label>
        <input type="text" name="universityName" id="university">
        <label for="graduated">Тугатган йили</label><input type="date" name="graduatedYear" id="graduated">
        <label for="degree">Маьлумоти</label><input type="text" name="degree" id="degree">
    </div>
    <input type="button" value="Қўшиш" id="add">

    <br>
    <label for="number">Телефон</label>
    <input type="number" name="phoneNumber" id="number"><br>

    <label for="email">Почта манзили</label>
    <input type="email" name="email" id="email"><br>
    <div id="items2">
        <label for="workPlaceName">Ишлаган жойлари</label>
        <input type="text" name="workPlaceName" id="workPlaceName">
    </div>
    <input type="button" value="Қўшиш" id="add2"><br>


    <input type="submit" name="submit" value="Тасдиқлаш">
    <input type="button" onclick="location.href='/getAllData'" value="Барча резюмелар"/>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        $("#add").click(function (e) {
            event.preventDefault()
            $('#items').append('<div><input type="text" name="' + 'universityName' + '" id="university">' +
                '<input type="date" name="' + 'graduatedYear' + '"id="graduated">' +
                '<input type="text" name="' + 'degree' + '"id="degree">' +
                '<input type="button" value="Ўчириш" id="delete"></div>');
        });
        $('body').on('click', '#delete', function (e) {
            $(this).parent('div').remove();
        });
    });

    $(document).ready(function () {
        $("#add2").click(function (e) {
            event.preventDefault()
            $('#items2').append('<div><input type="text" name="' + 'workPlaceName' + '" id="workPlaceName">' +
                '<input type="button" value="Ўчириш" id="delete2"></div>');
        });
        $('body').on('click', '#delete2', function (e) {
            $(this).parent('div').remove();
        });
    });
</script>
</body>
</html>