<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Fill the forms</title>
</head>
<body>
<form action="#" th:action="@{/savePerson}" th:object="${person}" method="post">
    <label for="name">Ф.И.Ш</label>
    <input type="text" th:field="*{fullName}" id="name" maxlength="250"><br>

    <label for="date">Тўғилган сана</label>
    <input type="date" th:field="*{dateOfBirth}" id="date"><br>

    <label for="nation">Миллати</label>
    <input type="text" th:field="*{nationality}" id="nation" maxlength="100"><br>

    <!--here educated universities-->
    <div style="background-color: cornsilk" id="items" th:object="${educationDegree}">
        <label for="university">Университет</label>
        <input type="text" th:field="*{universityName}" id="university">
        <label for="graduated">Тугатган йили</label><input type="date" th:field="*{graduatedYear}" id="graduated">
        <label for="degree">Маьлумоти</label><input type="text" th:field="*{degree}" id="degree">
    </div>
    <input type="button" value="Қўшиш" id="add">

    <br>
    <label for="number">Телефон</label>
    <input type="number" th:field="*{phoneNumber}" id="number"><br>

    <label for="email">Почта манзили</label>
    <input type="email" th:field="*{email}" id="email"><br>
    <input type="submit" name="submit" value="Тасдиқлаш">
    <input type="button" onclick="location.href='/getAllData'" value="Барча резюмелар"/>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    // var edCount = 1;
    $(document).ready(function () {
        $("#add").click(function (e) {
            event.preventDefault()
            // edCount++;
            $('#items').append('<div><input type="text" name="' + 'universityName' + '" id="university">' +
                '<input type="date" name="' + 'graduatedYear' + '"id="graduated">' +
                '<input type="text" name="' + 'degree' + '"id="degree">' +
                '<input type="button" value="Ўчириш" id="delete"></div>');
        });
        $('body').on('click', '#delete', function (e) {
            $(this).parent('div').remove();
        });
    });
</script>
</body>
</html>