<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Fill the forms</title>
    <link th:href="@{/js/css/person.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <form action="#" th:action="@{/savePerson}" method="post">

        <div class="row">
            <div class="col-25">
                <label for="name">Ф.И.Ш</label>
            </div>
            <div class="col-75">
                <input type="text" name="fullName" id="name" maxlength="250" placeholder="Ф.И.Ш..."><br>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="date">Тўғилган сана</label>
            </div>
            <div class="col-75">
                <input type="date" name="dateOfBirth" id="date"><br>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="nation">Миллати</label>
            </div>
            <div class="col-75">
                <input type="text" name="nationality" id="nation" maxlength="100" placeholder="Миллати..."><br>
            </div>
        </div>

        <!--here educated universities-->
        <div id="items">
            <div class="row">
                <div class="col-25">
                    <label for="university">Университет</label>
                </div>
                <div class="col-75">
                    <input type="text" name="universityName" id="university" placeholder="Университет...">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="graduated">Тугатган йили</label>
                </div>
                <div class="col-75">
                    <input type="date" name="graduatedYear" id="graduated">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="degree">Маьлумоти</label>
                </div>
                <div class="col-75">
                    <input type="text" name="degree" id="degree" placeholder="Маьлумоти...">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <!--            <label for="button">Қўшиш</label>-->
            </div>
            <div class="col-75">
                <input type="button" value="Қўшиш" id="add">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="number">Телефон</label>
            </div>
            <div class="col-75">
                <input type="text" name="phoneNumber" id="number" placeholder="+998*********"><br>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="email">Почта манзили</label>
            </div>
            <div class="col-75">
                <input type="text" name="email" id="email" placeholder="email@address.com"><br>
            </div>
        </div>


        <div id="items2">
            <div class="row">
                <div class="col-25">
                    <label for="workPlaceName">Ишлаган жойлари</label>
                </div>
                <div class="col-75">
                    <input type="text" name="workPlaceName" id="workPlaceName" placeholder="Ишлаган жойлари...">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
            </div>
            <div class="col-75">
                <input type="button" value="Қўшиш" id="add2"><br>
            </div>
        </div>

        <div class="row">
            <input type="submit" name="submit" value="Тасдиқлаш">
        </div>
        <input type="button" onclick="location.href='/getAllData'" value="Барча резюмелар"/>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        $("#add").click(function (e) {
            event.preventDefault()
            $('#items').append('<div><div class="row">\n' +
                '            <div class="col-25">\n' +
                '            </div>\n' +
                '            <div class="col-75">\n' +
                '                <input type="text" name="' + 'universityName' + '" id="university" placeholder="Университет...">\n' +
                '            </div>\n' +
                '        </div>' +
                ' <div class="row">\n' +
                '            <div class="col-25">\n' +
                '            </div>\n' +
                '            <div class="col-75">\n' +
                '               <input type="date" name="' + 'graduatedYear' + '"id="graduated">\n' +
                '            </div>\n' +
                '        </div>' +
                ' <div class="row">\n' +
                '            <div class="col-25">\n' +
                '            </div>\n' +
                '            <div class="col-75">\n' +
                '                <input type="text" name="' + 'degree' + '"id="degree" placeholder="Маьлумоти...">\n' +
                '            </div>\n' +
                '        </div>' +
                '<div class="row">\n' +
                '            <div class="col-25">\n' +
                '            </div>\n' +
                '            <div class="col-75">\n' +
                '                <input type="button" value="Ўчириш" id="delete">\n' +
                '            </div>\n' +
                '        </div></div>');
        });
        $('body').on('click', '#delete', function (e) {
            $(this).parent('div').parent('div').parent('div').remove();
        });
    });

    $(document).ready(function () {
        $("#add2").click(function (e) {
            event.preventDefault()
            $('#items2').append('<div> <div class="row">\n' +
                '            <div class="col-25">\n' +
                '            </div>\n' +
                '            <div class="col-75">\n' +
                '                <input type="text" name="' + 'workPlaceName' + '" id="workPlaceName" placeholder="Ишлаган жойлари...">\n' +
                '            </div>\n' +
                '        </div>' +
                '<div class="row">\n' +
                '            <div class="col-25">\n' +
                '            </div>\n' +
                '            <div class="col-75">\n' +
                '                <input type="button" value="Ўчириш" id="delete2">\n' +
                '            </div>\n' +
                '        </div></div>');
        });
        $('body').on('click', '#delete2', function (e) {
            $(this).parent('div').parent('div').parent('div').remove();
        });
    });
</script>
</body>
</html>