<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Resumes table</title>
    <link th:href="@{/js/css/resumes.css}" rel="stylesheet"/>
</head>
<body>
<div th:if="${not #lists.isEmpty(data)}">
    <h3>Мавжуд резюмелар</h3>
    <table id="customers">
        <tr>
            <th>Ф.И.Ш</th>
            <th>Тўғилган сана</th>
            <th>Телефон</th>
            <th>Почта манзили</th>
            <th>Таҳрирлаш</th>
            <th>Ўчириш</th>
        </tr>
        <tr th:each="person :${data}" th:onclick="|window.location = '/data/by/' + ${person.id}">
            <td th:utext="${person.fullName}"></td>
            <td th:utext="${person.dateOfBirth}"></td>
            <td th:utext="${person.phoneNumber}"></td>
            <td th:utext="${person.email}"></td>
            <td><a th:href="@{/edit/{id}(id=${person.id})}"><input type="button" value="Таҳрирлаш" id="refactor"></a></td>
            <td><a th:href="@{/delete/{id}(id=${person.id})}"><input type="button" value="Ўчириш" id="delete"></a></td>
        </tr>
    </table>
    <p><a th:href="@{/createPerson}"><input type="button" value="Резуме қўшиш" class="addNewResume"></a></p>
</div>
</body>
</html>