<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Resumes table</title>
</head>
<body>
<div th:if="${not #lists.isEmpty(data)}">
    <h2>Resumes</h2>
    <table>
        <tr>Ф.И.Ш</tr>
        <tr>Тўғилган сана</tr>
        <tr>Миллати</tr>
        <tr>Телефон</tr>
        <tr>Почта манзили</tr>
        <tr th:each="person :${data}">
            <td th:utext="${person.fullName}"></td>
            <td th:utext="${person.dateOfBirth}"></td>
            <td th:utext="${person.nationality}"></td>
            <td th:utext="${person.phoneNumber}"></td>
            <td th:utext="${person.email}"></td>
        </tr>
    </table>
</div>

<div th:if="${not #lists.isEmpty(eduData)}">
    <h2>ОТМ</h2>
    <table>
        <tr>Номи</tr>
        <tr>Тугатган йили</tr>
        <tr th:each="edu :${eduData}">
            <td th:utext="${edu.universityName}"></td>
            <td th:utext="${edu.graduatedYear}"></td>
            <td th:utext="${edu.degree}"></td>
        </tr>
    </table>
</div>
</body>
</html>