<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Resumes table</title>
</head>
<body>
<div th:if="${not #lists.isEmpty(data)}">
    <h2>Resumes</h2>
    <table>
        <tr>
            <th>Ф.И.Ш</th>
            <th>Тўғилган сана</th>
            <th>Миллати</th>
            <th>Телефон</th>
            <th>Почта манзили</th>
            <th>Таҳрирлаш</th>
            <th>Ўчириш</th>
        </tr>
        <tr th:each="person :${data}" th:onclick="|window.location = '/data/by/' + ${person.id}">
            <td th:utext="${person.fullName}"></td>
            <td th:utext="${person.dateOfBirth}"></td>
            <td th:utext="${person.nationality}"></td>
            <td th:utext="${person.phoneNumber}"></td>
            <td th:utext="${person.email}"></td>
            <td><a th:href="@{/edit/{id}(id=${person.id})}">Таҳрирлаш</a></td>
            <td><a th:href="@{/delete/{id}(id=${person.id})}">Ўчириш</a></td>
        </tr>
    </table>
    <p><a th:href="@{/createPerson}">Резюме қўшиш</a></p>
</div>
</body>
</html>