<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<form action="#" th:action="@{/update/{id}(id=${person.id})}" th:object="${person}" method="post">
    <label for="name">Ф.И.Ш</label>
    <input type="text" th:field="*{fullName}" id="name" maxlength="250"><br>

    <label for="date">Тўғилган сана</label>
    <input type="date" th:field="*{dateOfBirth}" id="date"><br>

    <label for="nation">Миллати</label>
    <input type="text" th:field="*{nationality}" id="nation" maxlength="100"><br>

   <div th:object="${educationDegree}">
       <table>
           <thead>
           <tr>
               <th>University</th>
               <th>Graduated year</th>
               <th>Degree</th>
           </tr>
           </thead>
           <tbody>
           <tr th:each="data : ${universities}">
               <td><input type="text" th:value="${data.universityName}" name="universityName"/></td>
               <td><input type="text" th:value="${data.graduatedYear}" name="graduatedYear"/></td>
               <td><input type="text" th:value="${data.degree}" name="degree"/></td>
           </tr>
           </tbody>
       </table>
   </div>

    <label for="number">Телефон</label>
    <input type="number" th:field="*{phoneNumber}" id="number"><br>

    <label for="email">Почта манзили</label>
    <input type="email" th:field="*{email}" id="email"><br>
    <input type="submit" name="submit" value="Тасдиқлаш">
    <button onclick="location.href='/getAllData'">Орқага</button>
</form>
</body>
</html>