<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
    <link th:href="@{/js/css/updateUser.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <form action="#" th:action="@{/update/{id}(id=${person.id})}" th:object="${person}" method="post">
        <div class="row">
            <div class="col-25">
                <label for="name">Ф.И.Ш</label>
            </div>
            <div class="col-75">
                <input type="text" th:field="*{fullName}" id="name" maxlength="250"><br>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="date">Тўғилган сана</label>
            </div>
            <div class="col-75">
                <input type="date" th:field="*{dateOfBirth}" id="date"><br>
            </div>
        </div>


        <div class="row">
            <div class="col-25">
                <label for="nation">Миллати</label>
            </div>
            <div class="col-75">
                <input type="text" th:field="*{nationality}" id="nation" maxlength="100"><br>
            </div>
        </div>

        <div th:object="${educationDegree}">
            <table class="edu-table">
                <thead>
                <tr>
                    <th><input class='check_all' type='checkbox' onclick="select_all()"/></th>
                    <th>Университет</th>
                    <th>Тугатган йили</th>
                    <th>Маьлумоти</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="data : ${universities}">
                    <td><input type='checkbox' class='case'/></td>
                    <td><input type="text" th:value="${data.universityName}" name="universityName"/></td>
                    <td><input type="date" th:value="${data.graduatedYear}" name="graduatedYear"/></td>
                    <td><input type="text" th:value="${data.degree}" name="degree"/></td>
                    <td><input type="hidden" th:value="${data.universityId}" name="degreeId"/></td>
                </tr>
                </tbody>
            </table>
            <button type="button" class='delete' id="del-edu">Ўчириш</button>
            <button type="button" class='addMore' id="add-edu">Қўшиш</button>
        </div>

        <div th:object="${workPlace}">
            <table class="work-table">
                <thead>
                <tr>
                    <th><input class='check_all2' type='checkbox' onclick="select_all2()"/></th>
                    <th>Ишлаган жойлари</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="work : ${workPlaces}">
                    <td><input type='checkbox' class='case2'/></td>
                    <td><input type="text" th:value="${work.workPlaceName}" name="workPlaceName"/></td>
                    <td><input type="hidden" th:value="${work.workPlaceId}" name="workPlaceId"/></td>
                </tr>
                </tbody>
            </table>
            <button type="button" class='delete2' id="del-work">Ўчириш</button>
            <button type="button" class='addMore2' id="add-work">Қўшиш</button>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="number">Телефон</label>
            </div>
            <div class="col-75">
                <input type="number" th:field="*{phoneNumber}" id="number" maxlength="13"><br>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="email">Почта манзили</label>
            </div>
            <div class="col-75">
                <input type="email" th:field="*{email}" id="email"><br>
            </div>
        </div>

        <input type="submit" name="submit" value="Тасдиқлаш">
    </form>
    <button onclick="location.href='/getAllData'" id="prev">Орқага</button>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(".addMore").on('click', function () {
        let data = "<tr>" +
            "<td><input type='checkbox' class='case'/></td>";
        data += "<td><input type='text' id='universityName' name='universityName'/></td> " +
            "<td><input type='date' id='graduatedYear' name='graduatedYear'/></td>" +
            "<td><input type='text' id='degree' name='degree'/></td> " +
            "<td><input type='hidden' id='degreeId' name='degreeId'></td></tr>";
        $('table.edu-table').append(data);
    });

    $(".delete").on('click', function () {
        $('.case:checkbox:checked').parents("tr").remove();
        $('.check_all').prop("checked", false);
        check();
    });

    function select_all() {
        $('input[class=case]:checkbox').each(function () {
            if ($('input[class=check_all]:checkbox:checked').length === 0) {
                $(this).prop("checked", false);
            } else {
                $(this).prop("checked", true);
            }
        });
    }

    function check() {
        obj = $('table tr').find('span');
        $.each(obj, function (key, value) {
            id = value.id;
            $('#' + id).html(key + 1);
        });
    }


    $(".addMore2").on('click', function () {
        let data2 = "<tr>" +
            "<td><input type='checkbox' class='case2'/></td>";
        data2 += "<td><input type='text' id='workPlaceName' name='workPlaceName'/></td> " +
            "<td><input type='hidden' id='workPlaceId' name='workPlaceId'></td></tr>";
        $('table.work-table').append(data2);
    });

    $(".delete2").on('click', function () {
        $('.case2:checkbox:checked').parents("tr").remove();
        $('.check_all2').prop("checked", false);
        check2();
    });

    function select_all2() {
        $('input[class=case2]:checkbox').each(function () {
            if ($('input[class=check_all2]:checkbox:checked').length === 0) {
                $(this).prop("checked", false);
            } else {
                $(this).prop("checked", true);
            }
        });
    }

    function check2() {
        obj = $('table tr').find('span');
        $.each(obj, function (key, value) {
            id = value.id;
            $('#' + id).html(key + 1);
        });
    }
</script>
</body>
</html>