<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<form action="#" th:action="@{/update/{id}(id=${person.id})}" th:object="${person}" method="post">
    <label for="name">Ф.И.Ш</label>
    <input type="text" th:field="*{fullName}" id="name" maxlength="250"><br>

    <label for="date">Тўғилган сана</label>
    <input type="date" th:field="*{dateOfBirth}" id="date"><br>

    <label for="nation">Миллати</label>
    <input type="text" th:field="*{nationality}" id="nation" maxlength="100"><br>

    <div th:object="${educationDegree}">
        <table>
            <thead>
            <tr>
                <th><input class='check_all' type='checkbox' onclick="select_all()"/></th>
                <th>University</th>
                <th>Graduated year</th>
                <th>Degree</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="data : ${universities}">
                <td><input type='checkbox' class='case'/></td>
                <td><input type="text" th:value="${data.universityName}" name="universityName"/></td>
                <td><input type="text" th:value="${data.graduatedYear}" name="graduatedYear"/></td>
                <td><input type="text" th:value="${data.degree}" name="degree"/></td>
                <td><input type="hidden" th:value="${data.universityId}" name="degreeId"/></td>
            </tr>
            </tbody>
        </table>
        <button type="button" class='delete'>Delete</button>
        <button type="button" class='addMore'>Add More</button>
    </div>

    <label for="number">Телефон</label>
    <input type="number" th:field="*{phoneNumber}" id="number"><br>

    <label for="email">Почта манзили</label>
    <input type="email" th:field="*{email}" id="email"><br>
    <input type="submit" name="submit" value="Тасдиқлаш">
    <button onclick="location.href='/getAllData'">Орқага</button>
</form>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(".addMore").on('click', function () {
        let data = "<tr>" +
            "<td><input type='checkbox' class='case'/></td>";
        data += "<td><input type='text' id='universityName' name='universityName'/></td> " +
            "<td><input type='text' id='graduatedYear' name='graduatedYear'/></td>" +
            "<td><input type='text' id='degree' name='degree'/></td> " +
            "<td><input type='hidden' id='degreeId' name='degreeId'></td></tr>";
        $('table').append(data);
    });

    $(".delete").on('click', function () {
        $('.case:checkbox:checked').parents("tr").remove();
        $('.check_all').prop("checked", false);
        check();
    });

    function select_all() {
        $('input[class=case]:checkbox').each(function () {
            if ($('input[class=check_all]:checkbox:checked').length === 0) {
                $(this).prop("checked", false);
            } else {
                $(this).prop("checked", true);
            }
        });
    }

    function check() {
        obj = $('table tr').find('span');
        $.each(obj, function (key, value) {
            id = value.id;
            $('#' + id).html(key + 1);
        });
    }
</script>
</body>
</html>