* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 4px 7px 4px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    margin: 3px 0;
    padding: 12px 30px 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

input[type=submit]:hover {
    background-color: #20252e;
}

#but {
    background-color: #0050d1;
    color: white;
    margin-top: -50px;
    padding: 12px 30px 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

#but:hover {
    background-color: #20252e;
    color: #f5f5f5;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px 40px 20px 40px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.add {
    background-color: #0050d1;
    color: whitesmoke;
    border: none;
    border-radius: 2px;
    padding: 5px 5px;
}
.add:hover {
    background-color: #20252e;
}

.remove {
    background-color: #bf0817;
    color: whitesmoke;
    border: none;
    border-radius: 2px;
    padding: 5px 5px;
}
.remove:hover {
    background-color: #20252e;
}

#email {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
#number {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
#date {
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
#graduated {
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}