* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 5px 5px 5px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    margin-top: 10px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #20252e;
    color: #f5f5f5;
}

#prev {
    background-color: #0050d1;
    color: white;
    margin-top: 10px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

#prev:hover {
    background-color: #20252e;
    color: #f5f5f5;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 30px 30px 60px 30px;
    margin: 40px 40px 40px 40px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}


#add-work {
    background-color: #0050d1;
    color: whitesmoke;
    border: none;
    border-radius: 2px;
    padding: 5px 5px;
}

#del-work {
    background-color: #bf0817;
    color: whitesmoke;
    border: none;
    border-radius: 2px;
    padding: 5px 5px;
}

#add-edu {
    background-color: #0050d1;
    color: whitesmoke;
    border: none;
    border-radius: 2px;
    padding: 5px 5px;
}

#del-edu {
    background-color: #bf0817;
    color: whitesmoke;
    border: none;
    border-radius: 2px;
    padding: 5px 5px;
}

#del-work:hover {
    background-color: #20252e;
    color: #f5f5f5;
}

#add-work:hover {
    background-color: #20252e;
    color: #f5f5f5;
}

#del-edu:hover {
    background-color: #20252e;
    color: #f5f5f5;
}

#add-edu:hover {
    background-color: #20252e;
    color: #f5f5f5;
}

table td {
    margin: 0 400px 0 0;
}